@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.vignette {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: inset 0 0 70px 50px rgb(23, 24, 23); /* Vignette effect */
}

.image-container {
  overflow: hidden;
  position: relative;
}

.vignette-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  transition: opacity 0.7s;
}

.vignette-image:hover {
  opacity: 1;
}
